
// List of parameters that can be passed to this workflow


params.infile = "/restricted/projectnb/decamp/Data/Bronchial_Brushing/RNA/Alignments/test_SMART_Seq4/inputID_HK3YJBBXX.txt"
params.output_dir = "/restricted/projectnb/decamp/Data/Bronchial_Brushing/RNA/Alignments/test_SMART_Seq4"
params.prefix = "test"
params.demofile = "/restricted/projectnb/decamp/Annotation/Demographics/20170504_DECAMP_Demographics.txt"

params.read_length = 75
params.paired_end = false


params.ref_fasta = "/restricted/projectnb/cbmhive/references/ucsc/hg19/base_random/hg19.fa"
params.ref_dir = "/restricted/projectnb/cbmhive/references/STAR/ucsc/hg19/base_random/"
params.picard_jar = "/share/pkg/picard/2.8.0/install/lib/picard.jar"
params.dbsnp = "/restricted/projectnb/cbmhive/references/ucsc/hg19/base_random/dbsnp_138.hg19.vcf"
params.infile_header = true
params.gene_gtf = "/restricted/projectnb/cbmhive/references/RSEM/ucsc/hg19/Ensembl/Homo_sapiens.GRCh37.75/base_random/Homo_sapiens.GRCh37.75.ucsc.base_random.gtf"
params.gene_bed = "/restricted/projectnb/cbmhive/references/RSEM/ucsc/hg19/Ensembl/Homo_sapiens.GRCh37.75/base_random/Homo_sapiens.GRCh37.75.ucsc.base_random.bed"
params.rsem_ref = "/restricted/projectnb/cbmhive/references/RSEM/ucsc/hg19/Ensembl/Homo_sapiens.GRCh37.75/base_random/Homo_sapiens.GRCh37.75.ucsc.base_random"
params.create_SE_Rscript = "/restricted/projectnb/decamp/Scripts/RNA/Alignment/Nextflow/SMART_createSEfromRSEM.R"

// Project used for SGE cluster
PROJECT = 'decamp'

process {
  // Global cluster parameters
  executor='sge'
  scratch=true

  // Specific cluster parameters for each process
  $runSTAR_1pass.clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=30G -pe omp 12"
  $runSTAR_GenomeGenerate.clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=30G -pe omp 12"
  $runSTAR_2pass.clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=30G -pe omp 12"
  $runRSEM.clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=5G -pe omp 12"
  $runAddReadGroupInfo.clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=5G"
  $runDepthOfCoverage.clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=10G"
  $runCollectMultipleMetrics.clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=25G"
  $runHybridCaptureMetrics.clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=10G"
  $runFastQC.clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=5G"
  $runOxoGMetrics.clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=10G"
  $runMultiQCFastq.clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=1G"
  $runMultiQCLibrary.clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=1G"
  $runMultiQCSample.clusterOptions = "-P ${PROJECT} -l h_rt=24:00:00 -l mem_total=1G"
  $runRSeQC.clusterOptions = "-P ${PROJECT} -l h_rt=96:00:00 -l mem_total=5G"
  $runCreateSE.clusterOptions = "-P ${PROJECT} -l h_rt=96:00:00 -l mem_total=10G"
  //inferAncestry.clusterOptions = "-P ${PROJECT} -l h_rt=96:00:00 -l mem_total=5G"
}
